<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name = "name" content="json/schema.json">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Scopri il meteo nelle più belle città italiane">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Carousel Template · Bootstrap v5.1</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/carousel/">

    

    <!-- Bootstrap core CSS -->
<link href="dist/css/bootstrap.min.css" rel="stylesheet">  <!-- assets/dist -->
<script src="dist/js/bootstrap.bundle.min.js"></script>  <!-- assets/ -->
<script src="json/schema.json"></script>  <!-- togli da assets/ -->

<!--</script> -->

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>




    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
  </head>
  <body>
    
<header>
  <nav class=" navbar-expand-md fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Meteo MDR</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/aboutus">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/help">Cosa puoi fare</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login">Accedi/Registrati</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> 
</header>

<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img data-src="/media/img/milano.jpg"> 
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Milano</h1>
            <p id="weather-Milan"></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img data-src="/media/img/barcellona.jpg"> 
        <div class="container">
          <div class="carousel-caption">
            <h1>Barcellona</h1>
            <p id="weather-Barcellona"></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img data-src="/media/img/dubai.jpg"> 
        <div class="container">
          <div class="carousel-caption">
            <h1>Dubai</h1>
            <p id="weather-Dubai"></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <main class="form-signin">
      <form action="/auth" method="post">
        <h1 class="h3 mb-3 fw-normal">Registrazione</h1>
        
        <div id="form">
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
          <label for="floatingInput">Indirizzo email</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
      </div>
    
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Ricordami
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-dark" type="submit">Registrati</button>
        <p>Hai già un account?</p>
        <button class="btn btn-secondary" type="submit">Effettua il login</button>
      </form>  
    </main>
   

  </div><!-- /.container -->
  <!--Dark mode ?-->
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="darkmode" onclick="darkmode()">
  <label class="form-check-label" for="flexSwitchCheckDefault">Abilita DarkMode</label>
</div>


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Torna su</a></p>
    <p>&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>


    <script src="dist/js/bootstrap.bundle.min.js"></script>  <!-- ../assets/ -->

      
  </body>
  <script src="js-da-me/js-da-me.js"</script></script>  <!-- togli da assets -->
</html>
